<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <div class="row">
                Email: <input type="text" name="username" [(ngModel)]="user.email">
            </div>
            <div class="row">
                Password: <input type="password" name="password" [(ngModel)]="user.password">
            </div>
            <div class="row">
                Role: <select [(ngModel)]="user.role">
                    <option value="admin">Administrador</option>
                    <option value="receptionist">Recepcionista</option>
                    <option value="client">Cliente</option>
                </select>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <button (click)="signUp()" class="btn btn-success">Register</button>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="isConfirm">
        <div class="card-header">
            <h1>Confirm Email</h1>
        </div>
        <div class="card-body">
            <div class="row">
                Code: <input type="text" name="code" [(ngModel)]="user.code">
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <button (click)="confirmSignUp()" class="btn btn-success">Confirm</button>
            </div>
        </div>
    </div>

</div>