table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.add-data {
  position: absolute !important;
  right: 17px;
  top: 50px;
  height: 50px;
  width: 50px;
}

.cell-elements{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20;
}

.card-chip-services{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  color: white;
  padding: 0px;
  margin: 0px;
}
