<div class="row" *ngIf="loading$ | async">
    <div class="col-12">
        <mat-card >
        <mat-card-content>
            <mat-card-title>Cargando...</mat-card-title>
            <mat-card-subtitle>
                Obteniendo Listado de {{encabezado.title}}
            </mat-card-subtitle>
            <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
        </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-card *ngIf="!(loading$ | async)">
    <div class="p-20 bg-info position-relative" style="margin-bottom: 20px;">
        <button routerLink="form/0" mat-mini-fab color="accent" class="add-data">+</button>
        <h4 class="card-title text-white m-0">{{encabezado.title}}</h4>
        <h6 class="card-subtitle text-white m-0 op-5">{{encabezado.subtitle}}</h6>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field>
    
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
    
                    <!-- ID Column -->
                    <!-- <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container> -->
    
                    <!-- Progress Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row">  
                            <mat-chip style="background-color: #26c6da;">
                            <h2 class="card-chip-services" style="font-size: 20px;">
                                {{row.nombre}}
                            </h2>
                            </mat-chip>
                        </td>
                    </ng-container>
    
                    <!-- Valor Column -->
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                        <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
                    </ng-container>

                    <!-- Descripcion Column -->
                    <!-- <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                    </ng-container> -->

                    <!-- Tipo Habitacion Column -->
                    <ng-container matColumnDef="tipoHabitacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                        <td mat-cell *matCellDef="let row"> 
                            <span>{{row.tipoHabitacion.nombre}}</span>
                        </td>
                    </ng-container>

                    <!-- Nivel Column -->
                    <ng-container matColumnDef="nivel">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nivel </th>
                        <td mat-cell *matCellDef="let row"> {{row.nivel}} </td>
                    </ng-container>

                    <!-- Serivicios Column -->
                    <ng-container matColumnDef="servicios">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicios </th>
                        <td mat-cell *matCellDef="let row"> 
                            <div *ngFor="let x of row.servicios" style="padding: 5px;">
                                <mat-chip style="background-color: #26c6da; padding: 0px; margin: 0px;">
                                <div class="card-chip-services">
                                    <mat-icon>{{x.icono}}</mat-icon>
                                    {{x.nombre}}
                                </div>
                            </mat-chip>
                            </div>
                            
                        </td>
                    </ng-container>

                    <!-- Estado Habitacion Column -->
                    <ng-container matColumnDef="estadoHabitacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let row">
                            <div class="cell-elements"><span class="round-span" 
                                style='margin-right:10px;width:15px;height:15px;background: {{row.estadoHabitacion.color}} !important'>
                            </span>
                            <span>{{row.estadoHabitacion.nombre}}</span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu4">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu4="matMenu">
                                <a mat-menu-item color="success" [routerLink]="['/admin','habitacion','form', row.id]">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </a>
                                <button (click)="delete(row.id)" mat-menu-item color="warn">
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
    
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</mat-card>