<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <div class="row">
                Email: <input type="text" name="username" [(ngModel)]="user.email">
            </div>
            <div class="row">
                Password: <input type="password" name="password" [(ngModel)]="user.password">
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <button (click)="login()" class="btn btn-success">Login</button>
            </div>
        </div>
    </div>
</div>