<div class="row" *ngIf="loading">
    <div class="col-12">
        <mat-card >
        <mat-card-content>
            <mat-card-title>Procesando...</mat-card-title>
            <mat-card-subtitle>
                <span *ngIf="action=='editar'">
                    La información de {{encabezado.title}} se esta cargando...
                </span>
            </mat-card-subtitle>
            <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
        </mat-card-content>
        </mat-card>
    </div>
</div>

<form *ngIf="!loading" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <mat-card>
        <div class="p-20 bg-info position-relative" style="margin-bottom: 20px;">
            <h4 class="card-title text-white m-0">{{encabezado.title}}</h4>
            <h6 class="card-subtitle text-white m-0 op-5">{{encabezado.subtitle}}</h6>
        </div>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between" class="p-20">
                <div fxFlex="100%">
                    <!-- <mat-form-field class="p-20">
                        <mat-label>Reserva: </mat-label>
                        <mat-select formControlName="reserva" (selectionChange)="reservaChange($event.value)">
                            <mat-option value="0">Sin Reserva Previa</mat-option>
                            <mat-option *ngFor="let item of listadoReserva"
                            value="{{item.id}}">
                                <span class="select-title">
                                    {{item.cliente.tipoDocumento}}{{item.cliente.numeroDocumento}} 
                                     {{item.cliente.apellidos}}, {{item.cliente.nombres}}
                                </span>
                                <span class="select-subtitle">
                                    [<strong>{{item.habitacion.nombre}}-{{item.habitacion.descripcion}}</strong>]
                                </span>
                                <br>
                                <span class="select-subtitle">
                                    Desde: 
                                    <strong>[{{item.fechaInicio | date:'dd/MM/yyyy hh:mm aaa'}}]</strong>
                                    a: 
                                    <strong>[{{item.fechaFin | date:'dd/MM/yyyy hh:mm aaa'}}]</strong>
                                </span>
                                <mat-divider></mat-divider>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="myForm?.get('reserva')?.hasError('required') && (myForm?.get('reserva')?.dirty || myForm?.get('reserva')?.touched)">
                            Por favor, seleccione una Habitacion.
                        </mat-error>
                    </mat-form-field> -->
                    <div class="p-20">
                        <mat-label>Reserva: </mat-label>
                        <ng-select formControlName="reserva" (change)="reservaChange($event)">
                            <ng-option value="0">Sin Reserva Previa</ng-option>
                            <ng-option *ngFor="let item of listadoReserva"
                            value="{{item.id}}">
                                <span class="select-title">
                                    {{item.cliente.tipoDocumento}}{{item.cliente.numeroDocumento}} 
                                    {{item.cliente.apellidos}}, {{item.cliente.nombres}}
                                </span>
                                <span class="select-subtitle">
                                    [<strong>{{item.habitacion.nombre}}-{{item.habitacion.descripcion}}</strong>]
                                </span>
                                <br>
                                <span class="select-subtitle">
                                    Desde: 
                                    <strong>[{{item.fechaInicio | date:'dd/MM/yyyy hh:mm aaa'}}]</strong>
                                    a: 
                                    <strong>[{{item.fechaFin | date:'dd/MM/yyyy hh:mm aaa'}}]</strong>
                                </span>
                                <mat-divider></mat-divider>
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" class="p-20">
                <div fxFlex="100%">
                    <!-- <mat-form-field class="p-20">
                        <mat-label>Cliente: </mat-label>
                        <mat-select formControlName="cliente">
                            <mat-option *ngFor="let item of listadoCliente"
                            value="{{item.id}}">
                                <span class="select-title">{{item.tipoDocumento}}-{{item.numeroDocumento}}</span>
                                <span class="select-subtitle">
                                    [<strong>{{item.apellidos}}, {{item.nombres}}</strong>]
                                </span>
                                <mat-divider></mat-divider>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="myForm?.get('habitacion')?.hasError('required') && (myForm?.get('habitacion')?.dirty || myForm?.get('habitacion')?.touched)">
                            Por favor, seleccione un Cliente.
                        </mat-error>
                    </mat-form-field> -->
                    <div class="p-20">
                        <mat-label>Cliente: </mat-label>
                        <ng-select formControlName="cliente">
                            <ng-option *ngFor="let item of listadoCliente"
                            value="{{item.id}}">
                                <span class="select-title">{{item.tipoDocumento}}-{{item.numeroDocumento}}</span>
                                <span class="select-subtitle">
                                    [<strong>{{item.apellidos}}, {{item.nombres}}</strong>]
                                </span>
                                <mat-divider></mat-divider>
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" class="p-20">
                <div fxFlex="100%">
                    <!-- <mat-form-field class="p-20">
                        <mat-label>Habitación: </mat-label>
                        <mat-select formControlName="habitacion" (selectionChange)="habitacionChange($event.value)">
                            <mat-option *ngFor="let item of listadoHabitacion"
                            value="{{item.id}}">
                                <span class="select-title">{{item.nombre}}</span>
                                <span class="select-subtitle">
                                    [<strong>{{item.descripcion}}</strong>]
                                </span>
                                <mat-divider></mat-divider>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="myForm?.get('habitacion')?.hasError('required') && (myForm?.get('habitacion')?.dirty || myForm?.get('habitacion')?.touched)">
                            Por favor, seleccione una Habitacion.
                        </mat-error>
                    </mat-form-field> -->
                    <div class="p-20">
                        <mat-label>Habitación: </mat-label>
                        <ng-select formControlName="habitacion" (change)="habitacionChange($event)">
                            <ng-option *ngFor="let item of listadoHabitacion" 
                            value="{{item.id}}">
                                <span class="select-title">{{item.nombre}}</span>
                                <span class="select-subtitle">
                                    [<strong>{{item.descripcion}}</strong>]
                                </span>
                                <mat-divider></mat-divider>
                            </ng-option>
                        </ng-select>
                        <mat-error *ngIf="myForm?.get('habitacion')?.hasError('required') && (myForm?.get('habitacion')?.dirty || myForm?.get('habitacion')?.touched)">
                            Por favor, seleccione una Habitacion.
                        </mat-error>
                    </div>
                    
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="p-20">
                <div fxFlex="30%">
                    <mat-form-field class="p-20">
                        <mat-label>Valor: </mat-label>
                        <input type="number" matInput placeholder="Digite Valor de la habitacion" formControlName="valor">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="myForm?.get('valor')?.hasError('required') && (myForm?.get('valor')?.dirty || myForm?.get('valor')?.touched)">
                            Por favor, digite un valor.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="30%">
                    <mat-form-field class="p-20">
                        <mat-label>Numero Personas: </mat-label>
                        <input type="number" matInput placeholder="Digite Numero de Personas" formControlName="numeroPersonas">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="myForm?.get('numeroPersonas')?.hasError('required') && (myForm?.get('numeroPersonas')?.dirty || myForm?.get('numeroPersonas')?.touched)">
                            Por favor, digite Numero de Personas.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="40%">
                    <mat-form-field class="p-20">
                        <mat-label>Estado Recepción: </mat-label>
                        <mat-select formControlName="estado">
                            <mat-option *ngFor="let item of listadoEstados"
                            value="{{item.id}}" 
                            [ngStyle]="{ padding: '5px' }">
                             <strong [ngStyle]="{color: item.color}">{{item.value}}</strong>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="myForm?.get('estado')?.hasError('required') && (myForm?.get('estado')?.dirty || myForm?.get('estado')?.touched)">
                            Por favor, seleccione un estado de reserva.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="p-20">
                <div fxFlex="100%">
                    <mat-form-field class="p-20">
                        <mat-label>Observaciones: </mat-label>
                        <input matInput placeholder="Digite Observaciones de habitacion" formControlName="observaciones">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="myForm?.get('observaciones')?.hasError('required') && (myForm?.get('observaciones')?.dirty || myForm?.get('observaciones')?.touched)">
                            Por favor, digite una observacion para la habitacion.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" class="p-20">
                <div fxFlex="100%">
                    <mat-form-field class="p-20">
                        <mat-label>Motivo Viaje: </mat-label>
                        <input matInput placeholder="Digite Motivo de Viaje" formControlName="motivoViaje">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="myForm?.get('motivoViaje')?.hasError('required') && (myForm?.get('motivoViaje')?.dirty || myForm?.get('motivoViaje')?.touched)">
                            Por favor, digite un motivo de viaje del Huesped.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" class="p-20">
                <div fxFlex="50%">
                    <mat-form-field class="p-20">
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Fecha Inicio" formControlName="fechaInicio"
                          [min]="minDate" [max]="maxDate" [disabled]="disabled">
                        <ngx-mat-datepicker-toggle matSuffix [for]="picker"></ngx-mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                          [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                          [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime"
                          [defaultTime]="defaultTime">
        
                          <ngx-mat-datepicker-actions>
                            <button mat-button color="warn" ngxMatDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" ngxMatDatepickerApply>Aplicar</button>
                          </ngx-mat-datepicker-actions>  
        
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
                <div fxFlex="50%">
                    <mat-form-field class="p-20">
                        <input matInput [ngxMatDatetimePicker]="pickerFin" placeholder="Fecha Fin" formControlName="fechaFin"
                          [min]="minDate" [max]="maxDate" [disabled]="disabled">
                        <ngx-mat-datepicker-toggle matSuffix [for]="pickerFin"></ngx-mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #pickerFin [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                          [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                          [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
        
                          <ngx-mat-datepicker-actions>
                            <button mat-button color="warn" ngxMatDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" ngxMatDatepickerApply>Aplicar</button>
                          </ngx-mat-datepicker-actions>  
        
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
            </div>
    
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="warn" class="m-20" (click)="goBack()">Cancelar</button>
            <button mat-raised-button color="primary" class="m-20" type="submit" [disabled]="myForm.invalid">Guardar</button>
        </mat-card-actions>
        {{myForm.invalid}} - {{myForm.errors | json}}
    </mat-card>
</form>
