<div class="p-20 bg-info position-relative" style="margin-bottom: 20px;">
    <h4 class="card-title text-white m-0">{{encabezado.title}}</h4>
    <h6 class="card-subtitle text-white m-0 op-5">{{encabezado.subtitle}}</h6>
</div>

<div class='demo-app'>
<div class='demo-app-main'>
    <div style="display: flex;">
        <div class="cell-elements" style=" border-radius: 10px; border: 2px orange solid; padding: 5px 10px;">
            <span class="round-span" 
                style='margin-right:10px;width:15px;height:15px;background: orange !important'>
            </span>
            <strong style="color: orange !important;">Reservas</strong>
        </div>
        <div class="cell-elements" style="margin-left: 20px; border-radius: 10px; border: 2px green solid; padding: 5px 10px;">
            <span class="round-span" 
                style='margin-right:10px;width:15px;height:15px;background: green !important'>
            </span>
            <strong style="color: green !important;">Recepciones</strong>
        </div>
    </div>>
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
</div>