<div class="row" *ngIf="loading">
    <div class="col-12">
        <mat-card >
        <mat-card-content>
            <mat-card-title>Cargando...</mat-card-title>
            <mat-card-subtitle>
                Obteniendo Listado de {{encabezado.title}}
            </mat-card-subtitle>
            <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
        </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-card *ngIf="!loading">
    <div class="p-20 bg-info position-relative" style="margin-bottom: 20px;">
        <button routerLink="form/0" mat-mini-fab color="accent" class="add-data">+</button>
        <h4 class="card-title text-white m-0">Tipo de Habitaciones</h4>
        <h6 class="card-subtitle text-white m-0 op-5">Listado de tipos de habitaciones regitrados</h6>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field>
    
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
    
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
    
                    <!-- Progress Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="numeroPersonas">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Personas </th>
                        <td mat-cell *matCellDef="let row"> {{row.numeroPersonas}} </td>
                    </ng-container>
    
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="maximoPersonas">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Max. Personas </th>
                        <td mat-cell *matCellDef="let row"> {{row.maximoPersonas}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="numeroCamas">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Camas </th>
                        <td mat-cell *matCellDef="let row"> {{row.numeroCamas}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu4">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu4="matMenu">
                                <a mat-menu-item color="success" [routerLink]="['/admin','tipo-habitacion','form', row.id]">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </a>
                                <button (click)="delete(row.id)" mat-menu-item color="warn">
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
    
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</mat-card>