<div class="row" *ngIf="loading$ | async">
    <div class="col-12">
        <mat-card >
        <mat-card-content>
            <mat-card-title>Cargando...</mat-card-title>
            <mat-card-subtitle>
                Obteniendo Listado de {{encabezado.title}}
            </mat-card-subtitle>
            <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
        </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-card *ngIf="!(loading$ | async)">
    <div class="p-20 bg-info position-relative" style="margin-bottom: 20px;">
        <!-- <button routerLink="form/0" mat-mini-fab color="accent" class="add-data">+</button> -->
        <button (click)="abrirDialog('crear', '0')" mat-mini-fab color="accent" class="add-data">+</button>
        <h4 class="card-title text-white m-0">{{encabezado.title}}</h4>
        <h6 class="card-subtitle text-white m-0 op-5">{{encabezado.subtitle}}</h6>
    </div>
    <div class="message-box contact-box p-20">
        <div class="example-action-buttons">
            <button mat-button (click)="accordion.openAll()">Mostrar Habitaciones</button>
            <button mat-button (click)="accordion.closeAll()">Ocultar Habitaciones</button>
          </div>
          <mat-accordion class="example-headers-align" multi>
            
            <mat-expansion-panel *ngFor="let item of listado | keyvalue:indexOrderAsc" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.value.descripcion}}
                </mat-panel-title>
                <mat-panel-description>
                  Nivel {{item.value.posicion}}
                  <div matBadge="{{item.value.posicion}}" matBadgeSize="medium" class="demo-section"></div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card-content style="margin-top: 20px;">
                <div class="row">
                  <div class="col-md-4 cards-servicios" *ngFor="let habitacion of item.value.habitaciones">
                    <mat-card class="example-card">
                      <mat-card-header style="background-color: {{habitacion.estadoHabitacion.color}};">
                        <div mat-card-avatar class="example-header-image">
                          <span>{{habitacion.nombre}}</span>
                        </div>
                        <mat-card-title class="card-title">
                          {{habitacion.tipoHabitacion.nombre}}
                        </mat-card-title>
                        <mat-card-subtitle class="card-subtitle">
                          {{habitacion.estadoHabitacion.nombre}}
                        </mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content class="card-content">
                        <mat-chip class="card-chip" 
                        style="background-color: {{habitacion.estadoHabitacion.color}}; padding: 5px; margin: 10px;" 
                        *ngFor="let servicio of habitacion.servicios">
                          <div class="card-chip-services">
                            <mat-icon style="font-size: 1.5em; height: 1.5em; width: 1.5em; padding-top: 5px;">{{servicio.icono}}</mat-icon>
                            {{servicio.nombre}}
                          </div>
                        </mat-chip>
                      </mat-card-content>
                      <mat-card-actions align="end" style="background-color: {{habitacion.estadoHabitacion.color}};">
                        <button mat-mini-fab matTooltip="Reservar" color="link" 
                        style="background-color: white; margin-left: 5px;">
                          <mat-icon>assignment_turned_in</mat-icon>
                        </button>
                        <button mat-mini-fab matTooltip="Editar" color="link" 
                        style="background-color: white; margin-left: 5px;">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
              <mat-action-row>
                <button mat-raised-button color="warn" [disabled]="item.value.habitaciones.length > 0" (click)="delete(item.value.id)">Eliminar</button>
                <button mat-raised-button color="primary" (click)="abrirDialog('editar', item.value)">Editar</button>
              </mat-action-row>
            </mat-expansion-panel>  

          </mat-accordion>
    </div>
</mat-card>