.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.add-data {
  position: absolute !important;
  right: 17px;
  top: 50px;
  height: 50px;
  width: 50px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-card {
  max-width: 400px;
  box-shadow: 0px 0px 10px 5px grey !important;
  border-radius: 30px;
  border: 4px solid white;
}

.example-header-image {
  background-color: white;
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px lightgray !important;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}

.mat-mdc-card{
  border-radius: 10px;
}

.mat-mdc-card-header{
  border-radius: 10px 10px 0px 0px ;
  padding: 10px;
}

.mat-mdc-card-content{
  padding: 0px !important;
}

.mdc-card__actions{
  border-radius: 0px 0px 10px 10px ;
}

.card-title{
  margin: -5px 0px -5px -3px;
  color: white;
}

.card-subtitle{
  margin: -5px 0px -5px 0px;
  color: white;
}

.card-header-number{
  width: 50px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 5px grey !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.card-chip{
  box-shadow: 0px 0px 5px 3px lightgray !important;
}

.card-chip-services{
  display: flex;
  align-items: center;
  justify-content: center;
  // font-weight: 700;
  color: white;
  font-size: 0.8em;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}