<div class="row" *ngIf="loading$ | async">
    <div class="col-12">
        <mat-card >
        <mat-card-content>
            <mat-card-title>Cargando...</mat-card-title>
            <mat-card-subtitle>
                Obteniendo Listado de {{encabezado.title}}
            </mat-card-subtitle>
            <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
        </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-card *ngIf="!(loading$ | async)">
    <div class="p-20 bg-info position-relative" style="margin-bottom: 20px;">
        <!-- <button routerLink="form/0" mat-mini-fab color="accent" class="add-data">+</button> -->
        <button (click)="abrirDialog()" mat-mini-fab color="accent" class="add-data">+</button>
        <h4 class="card-title text-white m-0">{{encabezado.title}}</h4>
        <h6 class="card-subtitle text-white m-0 op-5">{{encabezado.subtitle}}</h6>
    </div>
    <div class="message-box contact-box p-20">
        <div class="example-action-buttons">
            <button mat-button (click)="accordion.openAll()">Expand All</button>
            <button mat-button (click)="accordion.closeAll()">Collapse All</button>
          </div>
          <mat-accordion class="example-headers-align" multi>
            
            <mat-expansion-panel *ngFor="let item of listado | keyvalue:indexOrderDesc">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.value.descripcion}}
                </mat-panel-title>
                <mat-panel-description>
                  Nivel {{item.value.posicion}}
                  <div matBadge="{{item.value.posicion}}" matBadgeSize="medium" class="demo-section"></div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              {{item | json}}
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                      <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                          <i class="material-icons"></i>
                        </div>
                        <h4 class="card-title">Here is the Icon</h4>
                      </div>
                      <div class="card-body">
                          The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
                      </div>
                  </div>
                </div>
              </div>
          
            </mat-expansion-panel>  

          </mat-accordion>
    </div>
</mat-card>