.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.add-data {
  position: absolute !important;
  right: 17px;
  top: 50px;
  height: 50px;
  width: 50px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
